<a href="https://colab.research.google.com/github/AndreaReid/BigData/blob/main/Introduction_to_Python_AR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Introduction to Google Colab**

** Adapted from original notebook [Overview of Colaboratory Features](https://colab.research.google.com/notebooks/basic_features_overview.ipynb)

## Cells
A notebook is a list of cells. Cells contain either explanatory text or executable code and its output. Click a cell to select it.

### Code cells
Below is a **code cell**. Once the toolbar button indicates CONNECTED, click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** to run the cell and insert a new code cell immediately below it.

There are additional options for running some or all cells in the **Runtime** menu.

In [ ]:
a = 10
a

### Text cells
This is a **text cell**. You can **double-click** to edit this cell. Text cells
use markdown syntax. To learn more, see our [markdown
guide](/notebooks/markdown_guide.ipynb).

### Adding and moving cells
You can add new cells by using the **+ CODE** and **+ TEXT** buttons that show when you hover between cells. These buttons are also in the toolbar above the notebook where they can be used to add a cell below the currently selected cell.

You can move a cell by selecting it and clicking **Cell Up** or **Cell Down** in the top toolbar. 

Consecutive cells can be selected by "lasso selection" by dragging from outside one cell and through the group.  Non-adjacent cells can be selected concurrently by clicking one and then holding down Ctrl while clicking another.  Similarly, using Shift instead of Ctrl will select all intermediate cells.

## Working with python in Google Colab
Colaboratory is built on top of [Jupyter Notebook](https://jupyter.org/). Below are some examples of convenience functions provided.

Long running python processes can be interrupted. Run the following cell and select Runtime -> Interrupt execution (hotkey: Cmd/Ctrl-M I) to stop execution.

In [ ]:
import time
print("Sleeping")
time.sleep(30) # sleep for a while; interrupt me!
print("Done Sleeping")



---



---

# **2. Introduction to Python Programming Language**

This tutorial offers a basic introduction to Python syntax, variable assignment, and basic operations.



Just for fun, try reading over the code below and predicting what it's going to do when run. (If you have no idea, that's fine!)



Python is a high-level, dynamic programming language. Python code is often said to be almost like **pseudocode**, since it allows you to express very powerful ideas in very few lines of code while being very readable. 

```
The latest python version can be found here: https://www.python.org/downloads/

```



There are currently two different supported versions of Python, 2.7 and 3.7+. Somewhat confusingly, Python 3.0 introduced many backwards-incompatible changes to the language, so code written for 2.7 may not work under 3.7+ and vice versa. For this laboratory all code will use Python 3.7+. The latest python version can be found here: https://www.python.org/downloads/

*To see what Python version is currently being used in Colab, execute the following command:*

In [1]:
!python --version

Python 3.8.16

## **Indentation**
Python uses indentation to indicate parts of the code that needs to be executed together. Both tabs and spaces.

Do not mix tab indentation with space indentation.

In [ ]:
a = 1
if a == 1:
    # Indented ... and notice how Jupyter Notebook/ or colab/ or any python IDE automatically indented for you
    print("a is 1")

## **Variables and Types**
Python is not "statically-typed". This means you do not have to declare all your variables before you can use them. You can create new variables whenever you want. 

Lets go through the core types of variables:


```
**Syntax**


*   To assign a variable with a specific value, use `=`

      *  A variable name must start with a letter or the underscore character.
      *  A variable name cannot start with a number.
      *  A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
      *  Variable names are case-sensitive (name, Name and NAME are three different variables).
      *  The reserved words(keywords) cannot be used naming the variable.


*   To test whether a variable has a specific value, use the boolean operators:
        equal: `==`
        not equal: `!=`
        greater-than: `>`
        less-than:


*   comments: You can also add helpful comments to your code with the `#` symbol. Any line starting with a `#` is not executed. 
```

### **1. Numeric** 

Common numeric data types supported by python incude integers and floating point numbers. Integers are whole numbers (e.g. 9), while floats are fractional (e.g. 9.321). You can also convert integers to floats, and vice versa, but you need to be aware of the risks of doing so.


**Follow along with the code below.**

*Note: A green arrow to the left of the code cell indicates that the cell has been run successfully.*

In [1]:
# Create a variable named 'intnum' and assign it the integer value 7
intnum = 7

In [2]:
# Check the data type using type()
type(intnum)

int

The type() function is used to display the data type of a variable. It is commonly used for debugging purposes.

In [12]:
# Create a variable named 'floatnum' and assign it the floating point value 7.4
floatnum = 7.4
type(floatnum)

float

In [9]:
# Or you could convert the integer you already have
myfloat = float(intnum)

# Check the new data type
type(myfloat)

float

In [11]:
# Now see what happens when you convert a float to an int
intnum = int(7.3)
intnum

7

We can use print() to display the value of a variable on the screen.

In [16]:
intnum = 7
floatnum = 7.4

print(intnum)
print(floatnum)

7
7.4

This is especially useful to display multiple things at once. Note that when using print(), text must be inside quotation marks.

In [17]:
intnum = 7
floatnum = 7.4

print(intnum, "is an integer and",floatnum,"is a floating point number.")

7 is an integer and 7.4 is a floating point number.

If a variable is assigned a value more than once, it will take the last value assigned.

In [18]:
intnum = 7
intnum = 8

print(intnum)

8

#### **Arithmetic operators**
As you would expect, you can use the various mathematical operators with numbers (both integers and floats).

In [19]:
number = (1 + 2) * 3 / 4.0

# Try to predict what the answer will be ... does Python follow order operations hierarchy?
print(number)

2.25

In [21]:
# The modulo (%) returns the integer remainder of a division
remainder = 11 % 3
print(remainder)

2

In [23]:
one = 1
two = 2
three = one + two
print(three)

3

You can assign values to two variables at the same time.

In [25]:
a, b = 3, 4
print(a, b)

3 4

In [26]:
# Two multiplications is equivalent to a power operation
squared = 7 ** 2
print(squared)

49

###**2. Boleans**
Boolean data type is a data type that has one of two possible values which is intended to represent the two truth values of logic: if an expression is True or False.

In [27]:
print(4 < 7)

True

In [28]:
a = 6
print(a > 4)

True

### **3. Strings**
Strings are the Python term for text. You can define these in either single or double quotes.

In [30]:
mystring = "Hello Class and Happy Tuesday!"
print(mystring)

Hello Class and Happy Tuesday!

You can also apply simple operators to your string variables, or assign multiple variables simultaneously.

In [39]:
# In this example, we concatenate two string variables to form a new variable
hello = "Hello,"
world = "World!"
helloworld = hello + " " + world
print(helloworld)

Hello, World!

Note, though, that mixing variable types causes problems.

In [33]:
one = 1
two = 2
print(one + two + hello)
type()

TypeError: ignored

Python will throw an error when you make a mistake like this and the error will give you as much detail as it can about what just happened. This is extremely useful when you're attempting to "debug" your code.

In this case, you're told: `TypeError: unsupported operand type(s) for +: 'int'` `and 'str'`

And the context should make it clear that you tried to combine two integer variables with a string.

You can also combine strings with placeholders for variables:

In [34]:
print(one, two, hello)

1 2 Hello,

Other ways to format your print() command:

In [40]:
my_numb = 3
print("My lucky number is: {}".format(my_numb))

My lucky number is: 3

You can use len() to get the length of your variable (e.g., number of characters in a string)

In [37]:
a_string = "Hello, World!"
len(a_string)

13

In [38]:
print("String length: {}".format(len(a_string)))

String length: 13

Some more string operations:

In [41]:
# You've already seen arithmetic concatenations of strings
helloworld = "Hello," + " " + "World!"
print(helloworld)

Hello, World!

In [42]:
# You can also multiply strings to form a repeating sequence
manyhellos = "Hello " * 10
print(manyhellos)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello

In [43]:
# But don't get carried away. Not everything will work.
nohellos = "Hello " / 10
print(nohellos)

TypeError: ignored

In [80]:
# upper() and lower() functions
sent = "The weather is Nice"
sent = sent.lower()
sent

'the weather is nice'

In [81]:
sent = sent.upper()
sent

'THE WEATHER IS NICE'

In [82]:
# you can use a boolean operation for verification
print(sent.isupper())

True

In [83]:
# or include the entire operation within the print statement
print(sent.upper().isupper())

True

In [84]:
# print(sent.upper())
print(sent.lower())
print(sent.lower().isupper())
print(len(sent))

the weather is nice
False
19

#### Built-in Functions
We have already seen some of python's built-in functions (e.g., len()). Here are some other useful examples:

In [52]:
# We have already seen some examples: len()
len(sent)

19

In [53]:
# Access certain characters using their indices
sent[0:3] # square brackets are used to extract indices/positions of elements in the string

'The'

This is a good time to note that Python indexing starts from 0 (not 1). So the first element in a list or string will be in position 0. We will go into more detail on indexing in the next section.

In [57]:
# return the location of a charactor 
sent.index("i")

12

In [58]:
# count how many times a character is present
sent.count("e")

4

In [56]:
# if a character is present more than once, the first position will be returned
sent.index("e")

2

In [60]:
# find
sent.find("is")

12

In [62]:
# replace 
sent.replace("The", "In")

'In weather is Nice'

For more string operations and to get more practice, check out the following link: https://www.w3schools.com/python/python_ref_string.asp

### **4. Lists**
Lists are used to store multiple items in a single variable.

`Lists` are an ordered list of any type of variable. You can **combine as many variables as you like**, and they could even be of multiple types. Ordinarily, unless you have a specific reason to do so, lists will contain variables of one type.

You can also **iterate** over a list (use each item in a list in sequence).

A list is placed between square brackets: `[]`

In [88]:
# created using square brackets
mylist = [1,2,3]
print(mylist)

[1, 2, 3]

In [89]:
# append items to the list
mylist.append(1)
mylist.append(2)
mylist.append(3)

print(mylist)

[1, 2, 3, 1, 2, 3]

In [90]:
# 'append()' changes the variable and a new variable assignment is not necessary
mylist.append(4)

print(mylist)

[1, 2, 3, 1, 2, 3, 4]

You can also extract subsets of the data in a list.

In [92]:
# The first element in a Python list starts at position 0
# similar to what we saw with strings, we can use [] to extract elements
# Here, 1:4 indicates a range; from position 1 up to BUT NOT INCLUDING position 4

print(mylist[1:4])

[2, 3, 1]

In [93]:
# The last item in a Python list can be addressed as -1. 
# This is helpful when you don't know how long a list is likely to be.
print(mylist[-1])

4

If you try access an item in a list that isn't there, you'll get an error.

In [94]:
print(mylist[10])

IndexError: ignored

In [ ]:
even_numbers = [2, 4, 6, 8]
uneven_numbers = [1, 3, 5, 7]
all_numbers = uneven_numbers + even_numbers
print(all_numbers)

# You can also repeat sequences of lists
print([1, 2 , 3] * 3)

[1, 3, 5, 7, 2, 4, 6, 8]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
friends = ["Mary", "George" , "Ali", "Sher"]
print(friends)

['Mary', 'George', 'Ali', 'Sher']

In [ ]:
friends[1]

'George'

In [ ]:
friends[0:2]

['Mary', 'George']

In [ ]:
friends.append("Alicia")
print(friends)

['Mary', 'George', 'Ali', 'Sher', 'Alicia']

In [ ]:
# friends.remove("Sher")
print(friends)

['Mary', 'George', 'Ali', 'Alicia']

In [ ]:
#if an element is in the list? check the index
friends.index("Ali")

2

In [ ]:
friends.count("Ali")

1

In [ ]:
#friends.insert(0, "")
#.clear
#.pop for the last element

In [ ]:
friends.sort()

In [ ]:
print(friends)

['Ali', 'Alicia', 'George', 'Mary']

### Looping and For-statements

In [ ]:
# You can also loop through a list using a `for` statement.
# Note that `x` is a new variable which takes on the value of each item in the list in order.

for x in mylist:
    print(x)

####**2D List**

As we cannot use 1d list in every use case so python 2d list is used. Also, known as lists inside a list or a nested list.

In [ ]:
numbers = [
         [1,2,3],
         [4,5,6],
         [7,8]
]

In [ ]:
# nested for loop

for row in numbers:
  print(row)
  for col in row:
    print(col)

1
2
3
4
5
6
7
8

###**5. Tuples**


A Tuple is a collection of Python elements separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is **immutable** unlike lists which are mutable. 

With Tuples, You cannot changes or modify, delete, add them.

In [ ]:
coordinates = (118, 441)

In [ ]:
# Access the elements 
coordinates[0]

118

In [ ]:
# Can we change the items?
coordinates[1] = 6669796685

TypeError: ignored

In [ ]:
list(coordinates)

[118, 441]

In [ ]:
#coordinates2 = [(1,2), (3,7), (7,5)]
#coordinates2[1]

##**Getting Input From Users**
`input ( )` : This function first takes the input from the user and then evaluates the expression.

In [ ]:
num = input ("Enter number :")
print(num)

Enter number :44
44

In [ ]:
name1 = input("Enter name : ")
print("My name is "+ name1 + "and I am "+ num + " years old!")

Enter name : j
My name is jand I am 66 years old!

In [ ]:
type(num)

str




Ok, how about calculation?

In [ ]:
num1 = input("Enter a number:")
num2 = input("Enter another number:")
result = num1+num2

## **Conditions**
In the section on Indentation you were introduced to the `if` statement and the set of boolean operators that allow you to test different variables against each other.

To that list of boolean operators are added a new set of comparisons:` and, or and in.`

These can be used to create nuanced comparisons using if. You can use a series of comparisons with `if, elif and else`.
Look at the below statement:
```
I want to go out

If it is cloudy 

  I bring an umbrella

Otherwise if it is sunny

  I bring sunglasses

otherwise

I take a cab



1)
If condition:
  statement1

2)
If condition:
  statement1
else:
  statement3
  
3)
If condition:
  statement1
elif:
  statement2
else:
  statement3

```

In [ ]:
# Unexpected results
x = 2
if x > 2:
    print("Testing x")
print("x > 2")
# Formated correctly
if x == 2:
    print("x == 2")

x > 2
x == 2

In [ ]:
# Demonstrating more complex if tests and use input finction()
x = 2
y = 10
if x > 2:
    print("x > 2")
elif x == 2 and y > 50:
    print("x == 2 and y > 50")
elif x < 10 or y > 50:
    # But, remember, you don't know WHICH condition was True
    print("x < 10 or y > 50")
else:
    print("Nothing worked.")

x < 10 or y > 50

In [ ]:
#input("Enter your age")

## **Loops**
Looping means repeating something over and over until a particular condition is satisfie or duntil that object is complete.

There are two types of loop in Python:



```
1) for loop : for loops are traditionally used when you have a block of code which you want to repeat a fixed number of times. 
you can use it for range, lists, tuples,....

    For var in iterable:
      statement
      
2) While loop : A "While" Loop is used to repeat a specific block of code an unknown number of times

  While condition:
    statement
```

In [ ]:
# for loop

for letter in "the weather is nice today":
 print(letter)

t
h
e

w
e
a
t
h
e
r

i
s

n
i
c
e

t
o
d
a
y

In [ ]:
names = ["Mary", "George" , "Ali", "Sher"]

`range(start, stop) creates a list of integers between start and stop, or range(num) creates a zero-based list up to num`

In [ ]:
#for i in range(1,10)

In [ ]:
# for i in range(len()):
#print(name[i])

In [ ]:
# while loop
 i = 1
 while i <= 10:
   print(i)
   i+= 1
print("Done?")


`break` exits a `while` or `for` loop immediately
`continue` skips the current loop and returns to the loop conditional

In [ ]:
# Break and while conditional
print("Break and while conditional")
count = 0
while True:
    # You may think this would run forever, but ...
    print(count)
    count += 1
    if count >= 5:
        break

Break and while conditional
0
1
2
3
4

## **Functions**

A function is a block of code that only runs when it is called. Python functions return a value using a return statement, if one is specified. A function can be called anywhere after the function has been declared.
You can use functions for orgonizing your codes.



```
def name_Of_Function (parameters):
  print()

Hoq to call the function:

name_Of_Function(param)

```

In [ ]:
def employee(name, age):
  print(name + " is " + str(age))

employee("Mike", 20)

Mike is 20
None

In [ ]:
# Retrun Statement: breaks the function
def area(num):
  return num * num

area(5)

25

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion()

Recursion Example Results

TypeError: ignored

##**Reading From File**


To read a text file in Python, you follow these steps:

```
1 - First, open a text file for reading by using the open() function.
2 - Read text from the text file using the file read(), readline(), or readlines() method of the file object.
3 - close the file using the file close() method.

The following table shows available modes for opening a text file:

Mode	Description
'r'	Open a text file for reading text
'w'	Open a text file for writing text
'a'	Open a text file for appending text
```

In [ ]:
# Reading the file
my_file = open("employee.txt", "r")
#print(my_file.read())

#print(my_file.readline())
#print(my_file.readline())

#read as a list
#print(my_file.readlines())

#print(my_file.readlines()[1])

#for employee in my_file.readlines():
#  print(employee)

my_file.close()

FileNotFoundError: ignored

We’ve opened our scone.txt file using the w mode. This means that we can write to the file with which we are working. There are a couple of different modes that you may want to use. The ones we need for writing are:

```
a: This mode appends information to the end of a file.
w: This mode allows you to write to a file. It erases the contents of a file and creates a new one.
```

In [ ]:
#appending to the file
my_file = open("employee.txt", "a")

my_file.write("\nJohn - ML Engineer")

my_file.close()

In [ ]:
#overwritting the file
my_file = open("employee1.txt", "w")

my_file.write("\nJohn - ML Engineer")

my_file.close()

UnsupportedOperation: ignored

## **Working with Math Module**
A Python module is a file containing Python definitions and statements. A module can define functions, classes, and variables. A module can also include runnable code.
we can consider a module to be the same as a code library or a file that contains a set of functions that you want to include in your application.

Python math module is defined as the most famous mathematical functions, which includes trigonometric functions, representation functions, logarithmic functions, etc.

In [ ]:
import math
num = 4
print(sqrt(2))
print(abs(-4))
print(pow(2,3))

1.4142135623730951
4
8.0

A Python library is a collection of related modules. It contains bundles of code that can be used repeatedly in different programs. It makes Python Programming simpler and convenient for the programmer.

Python includes libraries. Python Libraries are a set of useful functions that eliminate the need for writing codes from scratch. 
Some useful libraries are:


**A. Data Cleaning and Data Manipulation**

1.   Pandas
2.   Numpy
3.   Spacy
4.   SciPy


**B. Data Gathering**

1. Beautiful Soap
2. Scrapy
3. Selenium


**C. Data Visualisation**

1. Matplotlib
2. Seaborn
3. Bokeh
4. Plotly


**D. Data Modelling**

1. Scikit-Learn
2. PyTorch
3. TensorFlow
4. Theano

**E. Image Processing**

1. Scikit-Image
2. Pillow
3. OpenCV



```
Now, Lets practice
```



##**Example: Simple Calculator in Python**

In [ ]:

# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

while True:
    # take input from the user
    choice = input("Enter choice(1/2/3/4): ")

    # check if choice is one of the four options
    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))

        elif choice == '4':
            print(num1, "/", num2, "=", divide(num1, num2))
        
        # check if user wants another calculation
        # break the while loop if answer is no
        next_calculation = input("Let's do next calculation? (yes/no): ")
        if next_calculation == "no":
          break
    
    else:
        print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide

KeyboardInterrupt: ignored